resources/nodered/reflector.flow
[
    {
        "id": "ada3797e.e86fd",
        "type": "tab",
        "label": "Reflector",
        "disabled": false,
        "info": ""
    },
    {
        "id": "1534747a.c35fec",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "5be88949.d03d38",
        "type": "subflow",
        "name": "speak errors",
        "info": "",
        "category": "",
        "in": [],
        "out": [],
        "env": [],
        "color": "#DDAA99"
    },
    {
        "id": "8ed6a9f0.44acd8",
        "type": "subflow",
        "name": "speak status",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 50,
                "y": 30,
                "wires": [
                    {
                        "id": "22c639b6.67f59e"
                    }
                ]
            }
        ],
        "out": [],
        "env": [],
        "color": "#DDAA99"
    },
    {
        "id": "bb1062e8.e7d6",
        "type": "websocket-listener",
        "z": "",
        "path": "/status/updates",
        "wholemsg": "false"
    },
    {
        "id": "14509d10.13b543",
        "type": "tls-config",
        "z": "",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": true
    },
    {
        "id": "9cf2fc3a.c21cc8",
        "type": "catch",
        "z": "5be88949.d03d38",
        "name": "",
        "scope": null,
        "uncaught": true,
        "x": 200,
        "y": 80,
        "wires": [
            [
                "3b48788a.e20dd8"
            ]
        ]
    },
    {
        "id": "8d691237.f205a",
        "type": "play audio",
        "z": "5be88949.d03d38",
        "name": "",
        "voice": "0",
        "x": 590,
        "y": 80,
        "wires": []
    },
    {
        "id": "3b48788a.e20dd8",
        "type": "change",
        "z": "5be88949.d03d38",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "message",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 80,
        "wires": [
            [
                "8d691237.f205a"
            ]
        ]
    },
    {
        "id": "69253c51.8f5c04",
        "type": "play audio",
        "z": "8ed6a9f0.44acd8",
        "name": "",
        "voice": "0",
        "x": 450,
        "y": 80,
        "wires": []
    },
    {
        "id": "fcbcbd33.676c8",
        "type": "http in",
        "z": "ada3797e.e86fd",
        "name": "",
        "url": "/status",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 530,
        "y": 640,
        "wires": [
            [
                "7408dbba.b4ba5c"
            ]
        ]
    },
    {
        "id": "ab7196a4.507ac",
        "type": "http response",
        "z": "ada3797e.e86fd",
        "name": "",
        "statusCode": "202",
        "headers": {},
        "x": 1000,
        "y": 640,
        "wires": []
    },
    {
        "id": "7408dbba.b4ba5c",
        "type": "json",
        "z": "ada3797e.e86fd",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 770,
        "y": 640,
        "wires": [
            [
                "ab7196a4.507ac",
                "c5d91a97.2e3f78",
                "fb4d2f37.9f8d28",
                "e9e60688.fd7528"
            ]
        ]
    },
    {
        "id": "c5d91a97.2e3f78",
        "type": "file",
        "z": "ada3797e.e86fd",
        "name": "",
        "filename": "/home/pi/reflector/status.json",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "utf8",
        "x": 1070,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "22c639b6.67f59e",
        "type": "function",
        "z": "8ed6a9f0.44acd8",
        "name": "",
        "func": "const clone = RED.util.cloneMessage(msg);\nclone.payload = `Getting ${msg.payload[\"status\"]}`;\nreturn clone;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 220,
        "y": 80,
        "wires": [
            [
                "69253c51.8f5c04"
            ]
        ],
        "inputLabels": [
            "x"
        ]
    },
    {
        "id": "a8c1e978.97493",
        "type": "subflow:5be88949.d03d38",
        "z": "ada3797e.e86fd",
        "name": "",
        "env": [],
        "x": 770,
        "y": 460,
        "wires": []
    },
    {
        "id": "f1c4e5d1.216c5",
        "type": "websocket out",
        "z": "ada3797e.e86fd",
        "name": "",
        "server": "bb1062e8.e7d6",
        "client": "",
        "x": 1380,
        "y": 800,
        "wires": []
    },
    {
        "id": "548bc74.98ab8b8",
        "type": "template",
        "z": "ada3797e.e86fd",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <script>\n        // @formatter:off\n        function md5(r){function i(r,n){return r<<n|r>>>32-n}function g(r,n){var t=2147483648&r,e=2147483648&n,o=1073741824&r,u=1073741824&n,a=(1073741823&r)+(1073741823&n);return o&u?2147483648^a^t^e:o|u?1073741824&a?3221225472^a^t^e:1073741824^a^t^e:a^t^e}function n(r,n,t,e,o,u,a){var f;return r=g(r,g(g((f=n)&t|~f&e,o),a)),g(i(r,u),n)}function t(r,n,t,e,o,u,a){var f;return r=g(r,g(g(n&(f=e)|t&~f,o),a)),g(i(r,u),n)}function e(r,n,t,e,o,u,a){return r=g(r,g(g(n^t^e,o),a)),g(i(r,u),n)}function o(r,n,t,e,o,u,a){return r=g(r,g(g(t^(n|~e),o),a)),g(i(r,u),n)}function u(r){for(var n=\"\",t=\"\",e=0;e<=3;e++)n+=(t=\"0\"+(r>>>8*e&255).toString(16)).substr(t.length-2,2);return n}for(var a,f,c,C,h,l=1732584193,d=4023233417,v=2562383102,s=271733878,m=(a=function(r){for(var n,t=r.length,e=t+8,o=16*(1+(e-e%64)/64),u=new Array(o-1),a=0,f=0;f<t;)a=f%4*8,u[n=(f-f%4)/4]=u[n]|r.charCodeAt(f)<<a,f++;return a=f%4*8,u[n=(f-f%4)/4]=u[n]|128<<a,u[o-2]=t<<3,u[o-1]=t>>>29,u}(r=function(r){for(var n,t=\"\",e=n=0,o=(r=(r+\"\").replace(/\\r\\n/g,\"\\n\").replace(/\\r/g,\"\\n\")).length,u=0;u<o;u++){var a=r.charCodeAt(u),f=null;a<128?n++:f=127<a&&a<2048?String.fromCharCode(a>>6|192)+String.fromCharCode(63&a|128):String.fromCharCode(a>>12|224)+String.fromCharCode(a>>6&63|128)+String.fromCharCode(63&a|128),null!=f&&(e<n&&(t+=r.substring(e,n)),t+=f,e=n=u+1)}return e<n&&(t+=r.substring(e,r.length)),t}(r))).length,S=0;S<m;S+=16)d=o(d=o(d=o(d=o(d=e(d=e(d=e(d=e(d=t(d=t(d=t(d=t(d=n(d=n(d=n(d=n(c=d,v=n(C=v,s=n(h=s,l=n(f=l,d,v,s,a[S+0],7,3614090360),d,v,a[S+1],12,3905402710),l,d,a[S+2],17,606105819),s,l,a[S+3],22,3250441966),v=n(v,s=n(s,l=n(l,d,v,s,a[S+4],7,4118548399),d,v,a[S+5],12,1200080426),l,d,a[S+6],17,2821735955),s,l,a[S+7],22,4249261313),v=n(v,s=n(s,l=n(l,d,v,s,a[S+8],7,1770035416),d,v,a[S+9],12,2336552879),l,d,a[S+10],17,4294925233),s,l,a[S+11],22,2304563134),v=n(v,s=n(s,l=n(l,d,v,s,a[S+12],7,1804603682),d,v,a[S+13],12,4254626195),l,d,a[S+14],17,2792965006),s,l,a[S+15],22,1236535329),v=t(v,s=t(s,l=t(l,d,v,s,a[S+1],5,4129170786),d,v,a[S+6],9,3225465664),l,d,a[S+11],14,643717713),s,l,a[S+0],20,3921069994),v=t(v,s=t(s,l=t(l,d,v,s,a[S+5],5,3593408605),d,v,a[S+10],9,38016083),l,d,a[S+15],14,3634488961),s,l,a[S+4],20,3889429448),v=t(v,s=t(s,l=t(l,d,v,s,a[S+9],5,568446438),d,v,a[S+14],9,3275163606),l,d,a[S+3],14,4107603335),s,l,a[S+8],20,1163531501),v=t(v,s=t(s,l=t(l,d,v,s,a[S+13],5,2850285829),d,v,a[S+2],9,4243563512),l,d,a[S+7],14,1735328473),s,l,a[S+12],20,2368359562),v=e(v,s=e(s,l=e(l,d,v,s,a[S+5],4,4294588738),d,v,a[S+8],11,2272392833),l,d,a[S+11],16,1839030562),s,l,a[S+14],23,4259657740),v=e(v,s=e(s,l=e(l,d,v,s,a[S+1],4,2763975236),d,v,a[S+4],11,1272893353),l,d,a[S+7],16,4139469664),s,l,a[S+10],23,3200236656),v=e(v,s=e(s,l=e(l,d,v,s,a[S+13],4,681279174),d,v,a[S+0],11,3936430074),l,d,a[S+3],16,3572445317),s,l,a[S+6],23,76029189),v=e(v,s=e(s,l=e(l,d,v,s,a[S+9],4,3654602809),d,v,a[S+12],11,3873151461),l,d,a[S+15],16,530742520),s,l,a[S+2],23,3299628645),v=o(v,s=o(s,l=o(l,d,v,s,a[S+0],6,4096336452),d,v,a[S+7],10,1126891415),l,d,a[S+14],15,2878612391),s,l,a[S+5],21,4237533241),v=o(v,s=o(s,l=o(l,d,v,s,a[S+12],6,1700485571),d,v,a[S+3],10,2399980690),l,d,a[S+10],15,4293915773),s,l,a[S+1],21,2240044497),v=o(v,s=o(s,l=o(l,d,v,s,a[S+8],6,1873313359),d,v,a[S+15],10,4264355552),l,d,a[S+6],15,2734768916),s,l,a[S+13],21,1309151649),v=o(v,s=o(s,l=o(l,d,v,s,a[S+4],6,4149444226),d,v,a[S+11],10,3174756917),l,d,a[S+2],15,718787259),s,l,a[S+9],21,3951481745),l=g(l,f),d=g(d,c),v=g(v,C),s=g(s,h);return(u(l)+u(d)+u(v)+u(s)).toLowerCase()}\n        !function(e,r){\"function\"==typeof define&&define.amd?define([],r):\"object\"==typeof module&&module.exports?module.exports=r():(e.nezasa||(e.nezasa={}),e.nezasa.iso8601||(e.nezasa.iso8601=r()))}(this,function(){var e={Period:{}};function d(e,r){var o,n=r||!1,t=[2,3,4,5,7,8,9],i=[0,0,0,0,0,0,0],a=[0,12,4,7,24,60,60];if(!(e=e.toUpperCase()))return i;if(\"string\"!=typeof e)throw new Error(\"Invalid iso8601 period string '\"+e+\"'\");if(!(o=/^P((\\d+Y)?(\\d+M)?(\\d+W)?(\\d+D)?)?(T(\\d+H)?(\\d+M)?(\\d+S)?)?$/.exec(e)))throw new Error(\"String '\"+e+\"' is not a valid ISO8601 period.\");for(var d=0;d<t.length;d++){var s=t[d];i[d]=o[s]?+o[s].replace(/[A-Za-z]+/g,\"\"):0}if(n)for(d=i.length-1;0<d;d--)i[d]>=a[d]&&(i[d-1]=i[d-1]+Math.floor(i[d]/a[d]),i[d]=i[d]%a[d]);return i}return e.version=\"0.2\",e.Period.parse=d,e.Period.parseToTotalSeconds=function(e){for(var r=[31104e3,2592e3,604800,86400,3600,60,1],o=d(e),n=0,t=0;t<o.length;t++)n+=o[t]*r[t];return n},e.Period.isValid=function(e){try{return d(e),!0}catch(e){return!1}},e.Period.parseToString=function(e,r,o,n){var t=[\"\",\"\",\"\",\"\",\"\",\"\",\"\"],i=d(e,n);r=r||[\"year\",\"month\",\"week\",\"day\",\"hour\",\"minute\",\"second\"],o=o||[\"years\",\"months\",\"weeks\",\"days\",\"hours\",\"minutes\",\"seconds\"];for(var a=0;a<i.length;a++)0<i[a]&&(1==i[a]?t[a]=i[a]+\" \"+r[a]:t[a]=i[a]+\" \"+o[a]);return t.join(\" \").trim().replace(/[ ]{2,}/g,\" \")},e});\n        // @formatter:on\n\n        function gravatarImageUrl(email, size = 64) {\n            if (!email) return null;\n            const hash = md5(email.trim().toLowerCase());\n            return `https://www.gravatar.com/avatar/${hash}?s=${size}`;\n        }\n\n        function toSeconds(value) {\n            return value && value.startsWith(\"P\") ? nezasa.iso8601.Period.parseToTotalSeconds(value) : 0;\n        }\n\n        function toWords(seconds) {\n            var hours = Math.floor(seconds / 3600);\n            var minutes = Math.floor((seconds - (hours * 3600)) / 60);\n            var seconds = seconds - (hours * 3600) - (minutes * 60);\n\n            hours = hours === 0 ? null : hours + \" hours\";\n            minutes = minutes === 0 ? null : minutes + \" minutes\";\n            seconds = seconds === 0 ? null : seconds + \" seconds\";\n            return [hours, minutes, seconds].filter(value => value !== null).join(\" and \");\n        }\n\n        window.HACK = {};\n        window.HACK[\"gravatar-image-url\"] = gravatarImageUrl(\"{{email}}\", 16) || \"data:image/gif;base64,R0lGODlhEAAQAKIHAPDw8OtPIh/gPi3iSuvr6yQkJCvlSv///yH/C1hNUCBEYXRhWE1QPD94cGFja2V0IGJlZ2luPSLvu78iIGlkPSJXNU0wTXBDZWhpSHpyZVN6TlRjemtjOWQiPz4gPHg6eG1wbWV0YSB4bWxuczp4PSJhZG9iZTpuczptZXRhLyIgeDp4bXB0az0iQWRvYmUgWE1QIENvcmUgNi4wLWMwMDIgNzkuMTY0NDYwLCAyMDIwLzA1LzEyLTE2OjA0OjE3ICAgICAgICAiPiA8cmRmOlJERiB4bWxuczpyZGY9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkvMDIvMjItcmRmLXN5bnRheC1ucyMiPiA8cmRmOkRlc2NyaXB0aW9uIHJkZjphYm91dD0iIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtbG5zOnhtcD0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wLyIgeG1wTU06T3JpZ2luYWxEb2N1bWVudElEPSJ4bXAuZGlkOjkyN2Y4YWI0LWQxNzgtNDVhNy1iMGMwLTc3MTZlNzY2NDBmYSIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDoyN0Y0MTdGRUNENDQxMUVBQTUxMkM0MTFENkZCQjUzNCIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDoyN0Y0MTdGRENENDQxMUVBQTUxMkM0MTFENkZCQjUzNCIgeG1wOkNyZWF0b3JUb29sPSJBZG9iZSBQaG90b3Nob3AgMjEuMiAoTWFjaW50b3NoKSI+IDx4bXBNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOjkyN2Y4YWI0LWQxNzgtNDVhNy1iMGMwLTc3MTZlNzY2NDBmYSIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDo5MjdmOGFiNC1kMTc4LTQ1YTctYjBjMC03NzE2ZTc2NjQwZmEiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz4B//79/Pv6+fj39vX08/Lx8O/u7ezr6uno5+bl5OPi4eDf3t3c29rZ2NfW1dTT0tHQz87NzMvKycjHxsXEw8LBwL++vby7urm4t7a1tLOysbCvrq2sq6qpqKempaSjoqGgn56dnJuamZiXlpWUk5KRkI+OjYyLiomIh4aFhIOCgYB/fn18e3p5eHd2dXRzcnFwb25tbGtqaWhnZmVkY2JhYF9eXVxbWllYV1ZVVFNSUVBPTk1MS0pJSEdGRURDQkFAPz49PDs6OTg3NjU0MzIxMC8uLSwrKikoJyYlJCMiISAfHh0cGxoZGBcWFRQTEhEQDw4NDAsKCQgHBgUEAwIBAAAh+QQBAAAHACwAAAAAEAAQAAADSHi6B2IsjnkKGXGNIqal2SCMZBeEJaGakjiq6nC2AwATc6YMcJDrjtGvFRQAfAcIY+J6AQbKSJFUA06rusPECABkF76hLjxMAAA7\";\n        window.HACK[\"initial-time\"] = toSeconds(\"{{initial-time}}\") || toSeconds(\"{{remaining-time}}\") + toSeconds(\"{{passed-time}}\");\n        window.HACK[\"remaining-time\"] = toSeconds(\"{{remaining-time}}\") || toSeconds(\"{{initial-time}}\") - toSeconds(\"{{passed-time}}\");\n        window.HACK[\"passed-time\"] = toSeconds(\"{{passed-time}}\") || toSeconds(\"{{initial-time}}\") - toSeconds(\"{{remaining-time}}\");\n        [\"initial-time\", \"remaining-time\", \"passed-time\"].forEach(key => {\n            window.HACK[`${key}--words`] = toWords(window.HACK[key]);\n        });\n        console.warn(window.HACK);\n    </script>\n    <link href=\"https://fonts.googleapis.com/css?family=Press+Start+2P\" rel=\"stylesheet\"/>\n    <link href=\"https://unpkg.com/nes.css@2.3.0/css/nes.min.css\" rel=\"stylesheet\"/>\n    <title>Currently being {{status}}</title>\n    <style>\n        .nes-icon.coin.is-small:not(:empty) {\n            margin-right: 1px;\n            color: transparent;\n        }\n\n        .nes-icon.coin.is-small:not(:empty):before {\n            top: 2px;\n        }\n\n        .nes-octocat.is-small {\n            transform: scale(0.2);\n            transform-origin: bottom left;\n        }\n\n        .nes-avatar {\n            -webkit-mask: url(data:image/gif;base64,R0lGODlhQABAAIAAAAAAAP///yH/C05FVFNDQVBFMi4wAwEAAAAh+QQFAAABACwAAAAAQABAAAACaIxvoMvtD+NCtAaJs1a23w2GnFeJpkYm5xp27Ita8By59M0g+M73/g8MCofEovGITCqXzKbzCY1Kp9Sq9YrNarfcrvcLDovH5LL5jE6r1+y2+w2Pr3RWW9VOxU9Tnyaf7venEij41FEAADs=);\n            -webkit-mask-size: 100%;\n        }\n\n        .nes-avatar.is-large {\n            position: relative;\n            display: inline-block;\n            width: 80px;\n            height: 80px;\n        }\n    </style>\n</head>\n<body>\n<div class=\"nes-container with-title is-centered\">\n    <p class=\"title\">{{#task}}{{task}}{{/task}}{{^task}}Status{{/task}}</p>\n    <h1><span class=\"nes-text is-error\">{{status}}</span> <small>right now</small></h1>\n    <progress class=\"nes-progress is-success\" value=\"0\" max=\"{{initial-time}}\" data-replace=\"value=passed-time,max=initial-time\"></progress>\n    <small><span data-replace=\"text=remaining-time--words\"></span> remaining</small>\n</div>\n\n<p></p>\n\n<section class=\"nes-container\">\n    <section class=\"message-list\">\n        <section class=\"message-right\">\n            <div class=\"nes-balloon from-right\">\n                <small>Just in case you want to know,</small><br/>\n                I'm <span class=\"nes-text is-error\">{{status}}</span> right now.\n            </div>\n            <img class=\"nes-bcrikko nes-avatar is-large\" src=\"https://www.gravatar.com/avatar?s=16\" data-replace=\"src=gravatar-image-url\"\n                 style=\"image-rendering: pixelated;\"/>\n        </section>\n    </section>\n</section>\n\n<p></p>\n\n<div class=\"container\">\n    <a href=\"#\" class=\"nes-badge is-splited\">\n        <span class=\"is-dark\">bthr</span>\n        <span class=\"is-primary\">0.1.0</span>\n    </a>\n    <a href=\"#\" class=\"nes-badge is-splited\">\n        <span class=\"is-dark\">test</span>\n        <span class=\"is-success\">100%</span>\n    </a>\n</div>\n\n<section class=\"icon-list\">\n    <!-- heart -->\n    <i class=\"nes-icon is-large heart\"></i>\n    <i class=\"nes-icon is-large is-half heart\"></i>\n    <i class=\"nes-icon is-large is-transparent heart\"></i>\n    <i class=\"nes-icon is-large heart is-empty\"></i>\n\n    <!-- star -->\n    <i class=\"nes-icon is-large star\"></i>\n    <i class=\"nes-icon is-large star is-half\"></i>\n    <i class=\"nes-icon is-large star is-transparent\"></i>\n    <i class=\"nes-icon is-large star is-empty\"></i>\n\n    <!-- like -->\n    <i class=\"nes-icon is-large like\"></i>\n    <i class=\"nes-icon is-large like is-empty\"></i>\n</section>\n<section class=\"icon-list\">\n    <!-- twitter -->\n    <i class=\"nes-icon twitter is-large\"></i>\n\n    <!-- facebook -->\n    <i class=\"nes-icon facebook is-large\"></i>\n\n    <!-- instagram -->\n    <i class=\"nes-icon instagram is-large\"></i>\n\n    <!-- github -->\n    <i class=\"nes-icon github is-large\"></i>\n\n    <!-- google -->\n    <i class=\"nes-icon google is-large\"></i>\n\n    <!-- gmail -->\n    <i class=\"nes-icon gmail is-large\"></i>\n\n    <!-- medium -->\n    <i class=\"nes-icon medium is-large\"></i>\n\n    <!-- linkedin -->\n    <i class=\"nes-icon linkedin is-large\"></i>\n\n    <!-- twitch -->\n    <i class=\"nes-icon twitch is-large\"></i>\n\n    <!-- youtube -->\n    <i class=\"nes-icon youtube is-large\"></i>\n\n    <!-- reddit -->\n    <i class=\"nes-icon reddit is-large\"></i>\n\n    <!-- whatsapp -->\n    <i class=\"nes-icon whatsapp is-large\"></i>\n</section>\n<section class=\"icon-list\">\n    <!-- close -->\n    <i class=\"nes-icon close is-large\"></i>\n\n    <!-- trophy -->\n    <i class=\"nes-icon trophy is-large\"></i>\n\n    <!-- coin -->\n    <i class=\"nes-icon coin is-large\"></i>\n</section>\n<section class=\"icon-list\">\n    <!-- controllers -->\n    <i class=\"nes-logo\"></i>\n    <i class=\"nes-jp-logo\"></i>\n    <i class=\"snes-logo\"></i>\n    <i class=\"snes-jp-logo\"></i>\n\n    <!-- octocat -->\n    <i class=\"nes-octocat animate\"></i>\n\n    <!-- phone -->\n    <i class=\"nes-smartphone\"></i>\n    <i class=\"nes-phone\"></i>\n</section>\n<section class=\"icon-list\">\n    <!-- Copyright Nintendo -->\n    <i class=\"nes-mario\"></i>\n    <i class=\"nes-ash\"></i>\n    <i class=\"nes-pokeball\"></i>\n    <i class=\"nes-bulbasaur\"></i>\n    <i class=\"nes-charmander\"></i>\n    <i class=\"nes-squirtle\"></i>\n    <i class=\"nes-kirby\"></i>\n</section>\n\n<div class=\"svg\">\n    <svg xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" version=\"1.1\" id=\"svg\" x=\"0px\" y=\"0px\" width=\"150px\" height=\"150px\"\n         viewBox=\"0 0 213.235 241.176\" enable-background=\"new 0 0 213.235 241.176\" xml:space=\"preserve\" fill=\"#0057B8\">\n    <path d=\"M108.581,64.968V14.124l44.007,25.422L108.581,64.968\"/>\n        <path fill-opacity=\"0.9\" d=\"M153.591,92.101V41.258L109.582,66.68L153.591,92.101\"/>\n        <path d=\"M155.586,92.062V41.221l44.009,25.42L155.586,92.062\"/>\n        <path fill-opacity=\"0.7\" d=\"M200.299,119.14V68.297l-44.004,25.421L200.299,119.14\"/>\n        <path fill-opacity=\"0.85\" d=\"M155.586,146.255V95.412l44.009,25.422L155.586,146.255\"/>\n        <path fill-opacity=\"0.7\" d=\"M200.299,173.35v-50.844l-44.004,25.422L200.299,173.35\"/>\n        <path fill-opacity=\"0.6\" d=\"M155.586,200.482v-50.84l44.009,25.417L155.586,200.482\"/>\n        <path fill-opacity=\"0.5\" d=\"M153.591,200.521v-50.84l-44.009,25.418L153.591,200.521\"/>\n        <path fill-opacity=\"0.6\" d=\"M108.581,227.696v-50.844l44.007,25.421L108.581,227.696\"/>\n        <path fill-opacity=\"0.5\" d=\"M106.62,227.696v-50.844l-44.005,25.421L106.62,227.696\"/>\n        <path fill-opacity=\"0.7\" d=\"M61.562,200.553V149.71l44.007,25.423L61.562,200.553\"/>\n        <path fill-opacity=\"0.7\" d=\"M59.709,200.56v-50.843l-44.008,25.422L59.709,200.56\"/>\n        <path fill-opacity=\"0.7\" d=\"M14.699,173.467v-50.843l44.01,25.42L14.699,173.467\"/>\n        <path fill-opacity=\"0.5\" d=\"M59.709,146.235V95.392l-44.008,25.42L59.709,146.235\"/>\n        <path fill-opacity=\"0.7\" d=\"M14.699,119.141V68.297l44.01,25.421L14.699,119.141\"/>\n        <path fill-opacity=\"0.6\" d=\"M59.709,92.101V41.258L15.701,66.68L59.709,92.101\"/>\n        <path fill-opacity=\"0.85\" d=\"M61.562,92.092V41.249l44.007,25.419L61.562,92.092\"/>\n        <path fill-opacity=\"0.9\" d=\"M106.62,64.968V14.124L62.614,39.546L106.62,64.968\"/>\n  </svg>\n</div>\n<style>\n    body {\n        background-color: #0057B8;\n        text-align: center;\n        line-height: 100vh;\n    }\n\n    .svg {\n        display: inline-block;\n        height: 200px;\n        width: 200px;\n        line-height: 200px;\n        text-align: center;\n        background-color: #FFF;\n        border-radius: 50%;\n    }\n\n    #svg {\n        display: inline-block;\n        vertical-align: middle;\n        fill: #0057B8;\n    }\n\n    #svg path:nth-child(1) {\n        -webkit-animation: pweek 1.8s linear infinite;\n        animation: pweek 1.8s linear infinite;\n        -webkit-animation-delay: 0.1s;\n        animation-delay: 0.1s;\n    }\n\n    #svg path:nth-child(1):hover {\n        -webkit-animation-play-state: paused;\n        animation-play-state: paused;\n    }\n\n    #svg path:nth-child(2) {\n        -webkit-animation: pweek 1.8s linear infinite;\n        animation: pweek 1.8s linear infinite;\n        -webkit-animation-delay: 0.2s;\n        animation-delay: 0.2s;\n    }\n\n    #svg path:nth-child(2):hover {\n        -webkit-animation-play-state: paused;\n        animation-play-state: paused;\n    }\n\n    #svg path:nth-child(3) {\n        -webkit-animation: pweek 1.8s linear infinite;\n        animation: pweek 1.8s linear infinite;\n        -webkit-animation-delay: 0.3s;\n        animation-delay: 0.3s;\n    }\n\n    #svg path:nth-child(3):hover {\n        -webkit-animation-play-state: paused;\n        animation-play-state: paused;\n    }\n\n    #svg path:nth-child(4) {\n        -webkit-animation: pweek 1.8s linear infinite;\n        animation: pweek 1.8s linear infinite;\n        -webkit-animation-delay: 0.4s;\n        animation-delay: 0.4s;\n    }\n\n    #svg path:nth-child(4):hover {\n        -webkit-animation-play-state: paused;\n        animation-play-state: paused;\n    }\n\n    #svg path:nth-child(5) {\n        -webkit-animation: pweek 1.8s linear infinite;\n        animation: pweek 1.8s linear infinite;\n        -webkit-animation-delay: 0.5s;\n        animation-delay: 0.5s;\n    }\n\n    #svg path:nth-child(5):hover {\n        -webkit-animation-play-state: paused;\n        animation-play-state: paused;\n    }\n\n    #svg path:nth-child(6) {\n        -webkit-animation: pweek 1.8s linear infinite;\n        animation: pweek 1.8s linear infinite;\n        -webkit-animation-delay: 0.6s;\n        animation-delay: 0.6s;\n    }\n\n    #svg path:nth-child(6):hover {\n        -webkit-animation-play-state: paused;\n        animation-play-state: paused;\n    }\n\n    #svg path:nth-child(7) {\n        -webkit-animation: pweek 1.8s linear infinite;\n        animation: pweek 1.8s linear infinite;\n        -webkit-animation-delay: 0.7s;\n        animation-delay: 0.7s;\n    }\n\n    #svg path:nth-child(7):hover {\n        -webkit-animation-play-state: paused;\n        animation-play-state: paused;\n    }\n\n    #svg path:nth-child(8) {\n        -webkit-animation: pweek 1.8s linear infinite;\n        animation: pweek 1.8s linear infinite;\n        -webkit-animation-delay: 0.8s;\n        animation-delay: 0.8s;\n    }\n\n    #svg path:nth-child(8):hover {\n        -webkit-animation-play-state: paused;\n        animation-play-state: paused;\n    }\n\n    #svg path:nth-child(9) {\n        -webkit-animation: pweek 1.8s linear infinite;\n        animation: pweek 1.8s linear infinite;\n        -webkit-animation-delay: 0.9s;\n        animation-delay: 0.9s;\n    }\n\n    #svg path:nth-child(9):hover {\n        -webkit-animation-play-state: paused;\n        animation-play-state: paused;\n    }\n\n    #svg path:nth-child(10) {\n        -webkit-animation: pweek 1.8s linear infinite;\n        animation: pweek 1.8s linear infinite;\n        -webkit-animation-delay: 1s;\n        animation-delay: 1s;\n    }\n\n    #svg path:nth-child(10):hover {\n        -webkit-animation-play-state: paused;\n        animation-play-state: paused;\n    }\n\n    #svg path:nth-child(11) {\n        -webkit-animation: pweek 1.8s linear infinite;\n        animation: pweek 1.8s linear infinite;\n        -webkit-animation-delay: 1.1s;\n        animation-delay: 1.1s;\n    }\n\n    #svg path:nth-child(11):hover {\n        -webkit-animation-play-state: paused;\n        animation-play-state: paused;\n    }\n\n    #svg path:nth-child(12) {\n        -webkit-animation: pweek 1.8s linear infinite;\n        animation: pweek 1.8s linear infinite;\n        -webkit-animation-delay: 1.2s;\n        animation-delay: 1.2s;\n    }\n\n    #svg path:nth-child(12):hover {\n        -webkit-animation-play-state: paused;\n        animation-play-state: paused;\n    }\n\n    #svg path:nth-child(13) {\n        -webkit-animation: pweek 1.8s linear infinite;\n        animation: pweek 1.8s linear infinite;\n        -webkit-animation-delay: 1.3s;\n        animation-delay: 1.3s;\n    }\n\n    #svg path:nth-child(13):hover {\n        -webkit-animation-play-state: paused;\n        animation-play-state: paused;\n    }\n\n    #svg path:nth-child(14) {\n        -webkit-animation: pweek 1.8s linear infinite;\n        animation: pweek 1.8s linear infinite;\n        -webkit-animation-delay: 1.4s;\n        animation-delay: 1.4s;\n    }\n\n    #svg path:nth-child(14):hover {\n        -webkit-animation-play-state: paused;\n        animation-play-state: paused;\n    }\n\n    #svg path:nth-child(15) {\n        -webkit-animation: pweek 1.8s linear infinite;\n        animation: pweek 1.8s linear infinite;\n        -webkit-animation-delay: 1.5s;\n        animation-delay: 1.5s;\n    }\n\n    #svg path:nth-child(15):hover {\n        -webkit-animation-play-state: paused;\n        animation-play-state: paused;\n    }\n\n    #svg path:nth-child(16) {\n        -webkit-animation: pweek 1.8s linear infinite;\n        animation: pweek 1.8s linear infinite;\n        -webkit-animation-delay: 1.6s;\n        animation-delay: 1.6s;\n    }\n\n    #svg path:nth-child(16):hover {\n        -webkit-animation-play-state: paused;\n        animation-play-state: paused;\n    }\n\n    #svg path:nth-child(17) {\n        -webkit-animation: pweek 1.8s linear infinite;\n        animation: pweek 1.8s linear infinite;\n        -webkit-animation-delay: 1.7s;\n        animation-delay: 1.7s;\n    }\n\n    #svg path:nth-child(17):hover {\n        -webkit-animation-play-state: paused;\n        animation-play-state: paused;\n    }\n\n    #svg path:nth-child(18) {\n        -webkit-animation: pweek 1.8s linear infinite;\n        animation: pweek 1.8s linear infinite;\n        -webkit-animation-delay: 1.8s;\n        animation-delay: 1.8s;\n    }\n\n    #svg path:nth-child(18):hover {\n        -webkit-animation-play-state: paused;\n        animation-play-state: paused;\n    }\n\n    @-webkit-keyframes pweek {\n        0% {\n            fill: #0057B8;\n        }\n        20% {\n            fill: #F11E4A;\n        }\n        40% {\n            fill: #F8A527;\n        }\n        60% {\n            fill: #266D7F;\n        }\n        80% {\n            fill: #82A;\n        }\n        100% {\n            fill: #0057B8;\n        }\n    }\n\n    @keyframes pweek {\n        0% {\n            fill: #0057B8;\n        }\n        20% {\n            fill: #F11E4A;\n        }\n        40% {\n            fill: #F8A527;\n        }\n        60% {\n            fill: #266D7F;\n        }\n        80% {\n            fill: #82A;\n        }\n        100% {\n            fill: #0057B8;\n        }\n    }\n</style>\n<!--\n$pathNumber: 18;\n\n// The color that will be at the beginning and the end of the loop.\n$firstColor: #0057B8;\n\n// The list of all the used colors. You can add or remove colors, the animation stays fluid. The $first-color must remain at the end of the list though.\n$listColors: #F11E4A, #F8A527, #266D7F, #82A, $firstColor;\n\n$delayCoeff: 0.1s;\n\nbody {\n  background-color: #0057B8;\n  text-align: center;\n  line-height: 100vh;\n}\n\n.svg {\n  display: inline-block;\n  height: 200px;\n  width: 200px;\n  line-height: 200px;\n  text-align: center;\n  background-color: #FFF;\n  border-radius: 50%;\n}\n\n#svg {\n  display: inline-block;\n  vertical-align: middle;\n  fill: $firstColor;\n\n  @for $i from 1 through 18 {\n\n      path:nth-child(#{$i}) {\n        animation: pweek $delayCoeff*$pathNumber linear infinite;\n        animation-delay: $i*$delayCoeff;\n\n        &:hover {\n          animation-play-state: paused;\n\n        }\n      }\n   }\n}\n\n@keyframes pweek {\n  0% {\n    fill: $firstColor;\n  }\n  @for $i from 1 through length($listColors) {\n    #{$i*(100/length($listColors))}% {\n      fill: nth($listColors, $i);\n    }\n  }\n}\n-->\n\n<footer>\n    <span>© 2020</span> <a href=\"https://github.com/bother-you/\" rel=\"noopener\">Bj<i class=\"nes-icon coin is-small\">ö</i>rn Kahlert\n    <i class=\"nes-octocat animate is-small\"></i></a>\n</footer>\n<script>\n    document.querySelectorAll(\"[data-replace]\")\n            .forEach(element => element.getAttribute(\"data-replace\").split(\",\")\n                    .forEach(replacement => {\n                        let attributeName = replacement.split('=')[0].trim();\n                        let hackKey = replacement.split('=')[1].trim();\n                        let hackValue = window.HACK[hackKey];\n                        console.debug(\"Replacing\", attributeName, hackKey, hackValue);\n                        attributeName === 'text'\n                                ? element.innerHTML = hackValue\n                                : element[attributeName] = hackValue;\n                    })\n            );\n</script>\n</body>\n</html>\n",
        "output": "str",
        "x": 1180,
        "y": 800,
        "wires": [
            [
                "f1c4e5d1.216c5",
                "18857e8e.6a5dc9",
                "669db190.5c472"
            ]
        ]
    },
    {
        "id": "fb4d2f37.9f8d28",
        "type": "function",
        "z": "ada3797e.e86fd",
        "name": "",
        "func": "return msg.payload;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1000,
        "y": 800,
        "wires": [
            [
                "548bc74.98ab8b8"
            ]
        ]
    },
    {
        "id": "11b68af5.deace5",
        "type": "inject",
        "z": "ada3797e.e86fd",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"status\": \"test\"}",
        "payloadType": "str",
        "x": 520,
        "y": 560,
        "wires": [
            [
                "7408dbba.b4ba5c"
            ]
        ]
    },
    {
        "id": "18857e8e.6a5dc9",
        "type": "debug",
        "z": "ada3797e.e86fd",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1350,
        "y": 560,
        "wires": []
    },
    {
        "id": "e9e60688.fd7528",
        "type": "subflow:8ed6a9f0.44acd8",
        "z": "ada3797e.e86fd",
        "name": "",
        "env": [],
        "x": 770,
        "y": 500,
        "wires": []
    },
    {
        "id": "23f89898.a6c4e8",
        "type": "http in",
        "z": "1534747a.c35fec",
        "name": "",
        "url": "/proxy",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 90,
        "y": 360,
        "wires": [
            [
                "eff2c07f.c3235",
                "88578245.33f47"
            ]
        ]
    },
    {
        "id": "563d54f9.d8be3c",
        "type": "http response",
        "z": "1534747a.c35fec",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 610,
        "y": 400,
        "wires": []
    },
    {
        "id": "eff2c07f.c3235",
        "type": "http request",
        "z": "1534747a.c35fec",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "req.headers[\"request-uri\"]",
        "tls": "14509d10.13b543",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 390,
        "y": 400,
        "wires": [
            [
                "563d54f9.d8be3c",
                "3e4ce9c7.3b2236"
            ]
        ]
    },
    {
        "id": "3e4ce9c7.3b2236",
        "type": "debug",
        "z": "1534747a.c35fec",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 310,
        "y": 260,
        "wires": []
    },
    {
        "id": "31c84873.488928",
        "type": "inject",
        "z": "1534747a.c35fec",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "https://google.com",
        "payloadType": "str",
        "x": 140,
        "y": 180,
        "wires": [
            [
                "96d2eb52.c41a78",
                "f050e0e2.debce"
            ]
        ]
    },
    {
        "id": "88578245.33f47",
        "type": "debug",
        "z": "1534747a.c35fec",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "req.headers[\"request-uri\"]",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 470,
        "y": 480,
        "wires": []
    },
    {
        "id": "96d2eb52.c41a78",
        "type": "change",
        "z": "1534747a.c35fec",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "f050e0e2.debce",
        "type": "function",
        "z": "1534747a.c35fec",
        "name": "",
        "func": "msg.req = msg.req || {}\nmsg.req.headers = msg.req.headers || {}\nmsg.req.headers[\"request-uri\"] = \"https://google.de\";//msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 510,
        "y": 300,
        "wires": [
            [
                "c3b5f182.827c2",
                "88578245.33f47"
            ]
        ]
    },
    {
        "id": "c3b5f182.827c2",
        "type": "debug",
        "z": "1534747a.c35fec",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 280,
        "wires": []
    },
    {
        "id": "669db190.5c472",
        "type": "file",
        "z": "ada3797e.e86fd",
        "name": "",
        "filename": "/home/pi/reflector/rendered.html",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "utf8",
        "x": 1420,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "6ca64c06.d82ab4",
        "type": "http in",
        "z": "ada3797e.e86fd",
        "name": "",
        "url": "/status/updates",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 550,
        "y": 920,
        "wires": [
            [
                "759dfc4.eb33304"
            ]
        ]
    },
    {
        "id": "9a00d84e.6fb978",
        "type": "http response",
        "z": "ada3797e.e86fd",
        "name": "",
        "statusCode": "202",
        "headers": {},
        "x": 1000,
        "y": 920,
        "wires": []
    },
    {
        "id": "759dfc4.eb33304",
        "type": "file in",
        "z": "ada3797e.e86fd",
        "name": "",
        "filename": "/home/pi/reflector/rendered.html",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 800,
        "y": 860,
        "wires": [
            [
                "9a00d84e.6fb978"
            ]
        ]
    },
    {
        "id": "ed972d84.d8a33",
        "type": "http in",
        "z": "ada3797e.e86fd",
        "name": "",
        "url": "/status",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 530,
        "y": 700,
        "wires": [
            [
                "a460eb06.df3338"
            ]
        ]
    },
    {
        "id": "a460eb06.df3338",
        "type": "function",
        "z": "ada3797e.e86fd",
        "name": "",
        "func": "var x = {};\nfor(param in msg.req.query) {\n    x[param.key] = param.value;\n}\nmsg.payload = msg.req.query;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 710,
        "y": 720,
        "wires": [
            [
                "7408dbba.b4ba5c"
            ]
        ]
    }
]
